<!DOCTYPE html>
<html class="default">
<head>
	<title>后台</title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="../static/css/admin.css" />
	<script type="text/javascript" src="../static/js/My97DatePicker/WdatePicker.js"></script>
</head>

<body>
	<table class="t">
		<thead>
			<tr>
				<th>表头一</th>
				<th>表头二</th>
				<th>表头三</th>
				<th>表头四</th>
				<th>表头五</th>
				<th>表头六</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td> 
					<span class="operate_btn" title="编辑">E</span>
					<span class="operate_btn" title="删除">X</span>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="page">
		<a href="#" class="btn prev" title="上一页"><span>&nbsp;</span></a>	
		<a href="#" class="num">1</a>
		<a href="#" class="num">2</a>
		<a href="#" class="num current">3</a>
		<a href="#" class="num">4</a>
		<a href="#" class="num">5</a>
		<span class="point">…</span>
		<a href="#" class="num">100</a>
		<a href="#" class="btn next" title="下一页"><span>&nbsp;</span></a>	
		<form action="">
			<input type="text" /><input type="submit" value="Go" />
		</form>
	</div>
	<fieldset class="form_wrap">
		<legend>这里是表单的名称：</legend>
		<form action="">
			<ul class="form">
				<li>
					<label>这个是文本框的样式：</label><input type="text" class="text" />
				</li>
				<li>
					<label>这个是文本框的样式：</label><input type="password" class="text" />
				</li>
				<li class="check">
					<label>这个是复选框的样式：</label><input type="checkbox"><span>全选</span>
				</li>
				<li class="radio">
					<label>这个是单选框的样式：</label><input type="radio" /><span>选择</span>
				</li>
				<li class="file">
					<label>这个是上传表单的样式：</label><input type="file" id="upload" />
					<span class="imitate_file">
						<input type="text" class="text" id="file_src" /><input type="submit" value="选择文件" />
					</span>
				</li>
				<li class="tarea">
					<label>这个是文本域的样式：</label><textarea></textarea>
				</li>
				<li>
				<label>请选择日期：</label><input type="text" class="text" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
				</li>
				<li>
					<label>这个是按钮的样式：</label><input type="submit" value="这是个按钮" class="fbtn" />
				</li>
			</ul>	
		</form>
	</fieldset>
	
	<script type="text/javascript">
		var upload = document.getElementById("upload");
		var file_src = document.getElementById("file_src");
		upload.onchange = function(){
			file_src.value = this.value;
		}
	</script>


	<div style="border:1px solid #f30;margin-top:50px;padding:10px;background:#ffd4d4">
		<ul>
			<li>后台所需的基本元素的样式都放在default页面中，复制HTML按需组合即可，所有的这些元素的样式都包含在default类名下，创建新页面时，请勿遗漏该类名</li>
			<li>html5的几个新的表单属性可以为我们减少很多工作：</li>
			<li>autofocus:自动聚焦到指定表单</li>
			<li>required:自动验证表单，支持正则表达式</li>
			<li>placeholder:文本框或文本域的默认value，获得焦点会自动清除，失去焦点则显示</li>
		</ul>
	</div> 
</body>
</html>
