<!DOCTYPE html>
<html class="default">
<head>
	<title>后台</title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="../static/css/admin.css" />
</head>

<body>
	<table class="t">
		<thead>
			<tr>
				<th>表头一</th>
				<th>表头二</th>
				<th>表头三</th>
				<th>表头四</th>
				<th>表头五</th>
				<th>表头六</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td>单元格六</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td>单元格六</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td>单元格六</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td>单元格六</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td>单元格六</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td>单元格六</td>
			</tr>
			<tr>
				<td>单元格一</td>
				<td>单元格二</td>
				<td>单元格三</td>
				<td>单元格四</td>
				<td>单元格五</td>
				<td>单元格六</td>
			</tr>
		</tbody>
	</table>
	<div class="page">
		<a href="#" class="btn prev" title="上一页"><span>&nbsp;</span></a>	
		<a href="#" class="num">1</a>
		<a href="#" class="num">2</a>
		<a href="#" class="num current">3</a>
		<a href="#" class="num">4</a>
		<a href="#" class="num">5</a>
		<span class="point">…</span>
		<a href="#" class="num">100</a>
		<a href="#" class="btn next" title="下一页"><span>&nbsp;</span></a>	
		<form action="">
			<input type="text" /><input type="submit" value="Go" />
		</form>
	</div>

	

</body>
</html>
