<!DOCTYPE html>
<html class="login">
<head>
	<title>后台登陆</title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="../static/css/admin.css" />
</head>

<body>
	<form action="">
		<div class="wrap">
			<div class="box">
				<div class="bg">
					<p class="t">LOGIN</p>
					<p class="c">
						<label for="username">用户名：</label><input type="text" id="username" class="txt" autofocus="true" required placeholder="User ID" />
					</p>
					<p class="c">
						<label for="password">密 码：</label><input type="password" id="password" class="txt" required placeholder="******"/>
					</p>
					<p class="c">
						<input type="submit" value="登 陆" class="btn" />
					</p>
				</div>
			</div>
		</div>
	</form>
</body>
</html>
